.terminal {
    box-shadow: 0 0 1rem 0 #111;
    @apply m-4
}
.terminal-buttons {
    width: 36rem;
    background: #5F506B;
    @apply rounded-t-lg h-8 gap-2;
}
.terminal-body {
    border-bottom-radius: 1rem;
    width: 36rem;
    @apply flex flex-col-reverse rounded-b-lg h-96 overflow-hidden;
}
.terminal-body-light {
    background: #A4A8B2;
}
.terminal-body-dark {
    background: #223D54;
}

.circle{
    border-radius: 50%;
    @apply p-2 h-4 w-4 mt-2
}
.circle:first-child {
    @apply ml-4 h-1 w-1;
}
.circle-sm{
    border-radius: 50%;
    @apply h-1 w-1 relative bottom-0.5 right-0.5
}

.btn-green{
    background: #21d20b
}

.text-red {
    color: #d92a0b
}
.text-orange {
    color: #ed9a09
}
.text-green {
    color: #0bd91f
}
.text-yellow {
    color: #ede01b
}
.text-blue {
    color: #2057d6
}
.text-indigo {
    color: #250b75
}
.text-voilet {
    color: #a510ca
}
.bulb{
    @apply h-4 w-4 rounded-lg mt-3 animate-pulse
}
.bg-green {
    box-shadow: 0 0 0.5em #83f511;
    background: #83f511
}