.text-light-techs{
    color: #082442;
}
.card{
    @apply w-full h-96;
}
.card-header{
    @apply text-2xl;
}
.text-h-dark-techs{
    color: #1f3a8a;
}
.text-h-light-techs {
    color: #082442;
}
.card-container {
    @apply flex justify-center items-center gap-40 pt-20;
}
@media screen and (max-width: 900px) {
    .card-container {
        @apply flex-col gap-4;
    }
    .card {
        @apply h-auto;
    }
}