.text-light-techs{
    color: #082442;
}
.card{
    flex: 1 0 22%;
    @apply w-full h-96;
}
.card-header{
    @apply text-2xl;
}
.text-h-dark-techs{
    color: #1f3a8a;
}
.text-h-light-techs {
    color: #082442;
}
.card-container {
    @apply flex justify-center items-center gap-40 pt-20;
}
@media screen and (max-width: 900px) {
    .card-container {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .card {
        flex: 0 1 40%;
        height: 10rem !important;
        @apply h-auto;
    }
}