.dark-about{
    background: #373F51;
}
.light-about{
    background: #58A4B0;
}
.about-us {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    @apply mt-20;
}
.pill {
    border-radius: 2.5rem;
    left: 40%;
    box-shadow: 0 0 0.25rem 0 #111;
    @apply h-8 w-64 relative bottom-4;
}
.pill-options {
    @apply hover:underline
}
.pill-bg-white {
    background: #467599;
}
.pill-bg-dark {
    background: #1D3354;
}
.image-ctr{
    border-radius: 50%;
    @apply overflow-hidden h-64 w-64 flex items-center justify-center;
}
.my-img{
    @apply w-auto h-72;
}
.content-ctr{
    /* @apply ; */
}
.about-content{
    @apply flex items-center justify-center gap-16;
}
@media screen and (max-width:900px) {
    .about-content{
        @apply flex-col pt-4;
    }    
}
.text-light{
    color: #082442;
}